<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img [routerLink]="['/home']" class="header-img" [src]="getImg()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-title>Recuperar clave</ion-title>

      <ion-col>
        <ion-item>
          <ion-label position="floating">Ingresá tu usuario o e-mail</ion-label>
          <ion-input placeholder="Enter text"></ion-input>
        </ion-item>
      </ion-col>

      <ion-button disabled="true" expand="full" shape="round">Recuperar clave</ion-button>

      <ion-grid>
        <ion-col>
      <ion-button [routerLink]="['/login-account']" expand="full" shape="round" fill="clear">Iniciar Sesión</ion-button>
        </ion-col>
      </ion-grid>

    </ion-grid>
  </div>
</ion-content>
