<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="header-img" [src]="getHeaderImg()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-title>Crear Cuenta</ion-title>
      <ion-col>
        <ion-input label="Teléfono" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="Teléfono" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="Teléfono" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox >Acepto los términos y condiciones</ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-grid>
  </div>

</ion-content>
