<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="header-img" [src]="getHeaderImg()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-title>Crear Cuenta</ion-title>
      <ion-col>
        <ion-input label="Teléfono" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="E-mail" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="Ingresá tu clave" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox>Acepto los términos y condiciones</ion-checkbox>
        </ion-item>
        <ion-col>
          <p>Términos y Condiciones</p>
        <div class="pre__container">
        <pre style="word-wrap: break-word; white-space: pre-wrap;">Términos y Condiciones de Uso del Sistema.

          1.	Los presentes términos y condiciones (en adelante, el “Términos y condiciones” o “Términos” o “TyC” indistintamente) constituyen un contrato entre usted (en adelante, el “Cliente”) y CUMAR S.A. (en adelante, “ULTRA” y, junto con el Cliente, las “Partes”), respecto del uso del servicio de Billetera Virtual ULTRA (en adelante, la “App”).
          El Cliente se compromete a leer, comprender y aceptar todas las condiciones establecidas en este Acuerdo, al momento de solicitud de su registro. En caso de no encontrarse de acuerdo con los Términos y Condiciones, por favor, absténgase de utilizar la Billetera. Los presentes Términos y Condiciones se considerarán aceptados desde el momento en el que el registro sea aprobado por ULTRA.

          2.	DEFINICIONES

          2.1.	Billetera Virtual ULTRA o Billetera: instrumento en el que el Usuario de Billetera podrá realizar acreditación en efectivo o transferencia, con las que podrá utilizar para realizar pagos por los productos y/o servicios comercializados por los Vendedores que acepten el uso de la Billetera, sin tener que ingresar sus datos nuevamente en cada operación. Cuando las tarjetas se puedan dar de alta (tarjeta de crédito, débito o recargables nominadas) deberán estar habilitadas para operar, y autorizadas por ULTRA para su carga en la Billetera. Este instrumento estará vinculado a su Cuenta ULTRA.
          2.2.	Botón de Pago: herramienta que permite al Vendedor aceptar pagos en sus Canales de venta por parte de los Usuarios de Botón de Pago o de los Usuarios de Billetera.
          1.3 Canales de venta: medios en los que el Vendedor publicará el Botón de Pago (Sitios de Venta Web, Redes Sociales, e-Mails)
          1.4.	Clave Privada: es la clave que el Cliente generará para registrarse, acceder a su Cuenta ULTRA y utilizar el Sistema ULTRA, la cual debe ser secreta e intransferible.
          1.5.	Cliente: es la persona humana o persona jurídica que se registra y accede al Sitio y utiliza el Sistema ULTRA. En los casos de Clientes personas humanas deberá ser mayor de 16 años y poseer capacidad para contratar en su nombre y podrá actuar en su rol de Usuario de Billetera, Vendedor, Usuario Emisor, Usuario Receptor o todas en el Sistema ULTRA. En los casos de Clientes personas jurídicas, quien se registre, deberá acreditar que posee facultades suficientes para contratar en nombre y representación de la persona jurídica que se adhiere y podrá actuar en el Sistema ULTRA en su rol de, Vendedor, Usuario Emisor y Usuario Receptor.
          1.6.	Comprador: Son los Usuarios de Billetera, los Usuarios de Botón.
          1.7	Contracargos: débito en la Cuenta Virtual ULTRA del Vendedor de una operación oportunamente liquidada, que ha sido cuestionada por el banco emisor de una tarjeta de crédito/débito o por el usuario de una tarjeta de crédito/débito.
          1.8	Cuenta Bancaria: Cuenta de caja de ahorro o cuenta corriente abierta en una entidad bancaria de la República Argentina, de la cual el Cliente es titular y que es registrada por el Cliente para la transferencia efectiva de fondos disponibles desde su Cuenta Virtual ULTRA o para recibir fondos a través del Servicio ULTRA.
          1.9	Cuenta ULTRA: Es la identificación del Cliente en el Sistema ULTRA, al que accede mediante el ingreso de su usuario de acceso (e-mail) y Clave Privada.
          1.10	Cuenta Virtual ULTRA: Cuenta recaudadora en la que ULTRA acreditará al Cliente los fondos recibidos por pagos realizados por los Compradores, y se realizarán los débitos y/o créditos dispuestos en estos Términos y Condiciones.
          1.11	Dispositivo Móvil: teléfono celular u otro dispositivo con sistema operativo Android o IOS que el Vendedor utilizará para el Servicio ULTRA, el que deberá contar con acceso a internet y/o servicio de transmisión de datos que deberá ser provisto por el operador de telefonía celular contratado por el Vendedor.
          1.12	Programa Mendoza Activa: Programa creado por normativa de la Provincia de Mendoza, que tiene por objeto acelerar la reactivación de las actividades económicas en la Provincia de Mendoza, y que se encuentra administrado por el Fideicomiso de Administración Mendoza Activa.
          1.13	Servicio ULTRA: Servicio prestado a través de la aplicación móvil ULTRA, que el Vendedor deberá descargar e instalar en su Dispositivo Móvil y que le permitirá aceptar pagos con las formas de pago habilitadas por ULTRA.
          1.13. Servicio ULTRA PEI: Es el servicio de envío y solicitud de dinero que permite realizar transferencias inmediatas de fondos. El origen de fondos será la CBU de la cuenta bancaria seleccionada por el Usuario Emisor y el destino, la CBU de la cuenta bancaria asociada a la Cuenta ULTRA del Usuario Receptor o CVU entre usuarios de billeteras virtuales.
          1.14	Servicio de Extracción de Efectivo Sin Tarjeta de Débito: Es el servicio mediante el cual un Usuario de Billetera, podrá realizar un envío de efectivo para que un Usuario Receptor concurra a un cajero automático de la Red Banelco, Rapipago o Comercio habilitado y extraiga efectivo
          1.15	Sistema ULTRA: sistema de procesamiento de pagos de ULTRA mediante el cual:
          -	Los Vendedores pueden percibir el pago realizado mediante el Botón de Pago, los medios de pago adheridos a la Billetera y el Servicio ULTRA PEI, por la compra de los productos y/o servicios que comercializan. El Sistema ULTRA canalizará, procesará, conciliará y por último acreditará el cobro por el producto o servicio vendido, todo ello por cuenta y orden del Vendedor.
          -	Los Usuarios de Billetera pueden realizar el pago por los productos y/o servicios comercializados por los Vendedores y hacer envíos de órdenes de extracción de efectivo, utilizando los medios de pago vinculados a su Billetera.
          -	Los Usuarios Emisores y Usuarios Receptores del Servicio ULTRA PEI pueden enviar y solicitar dinero a través de transferencias inmediatas de fondos.
          1.16	Términos y Condiciones: son los presentes términos y condiciones que constituyen un contrato entre el Cliente e ULTRA que regulan la utilización del Sistema ULTRA.
          1.17	Usuario de Billetera Virtual ULTRA: es el Cliente persona humana que utiliza el Sistema ULTRA para realizar pagos por los productos y/o servicios comercializados por los Vendedores a través de los medios de pago vinculados a su Billetera.
          1.18	Usuario de Botón de Pago: es la persona humana que utiliza el Sistema ULTRA para realizar pagos por los productos y/o servicios comercializados por los Vendedores en los Canales de Venta a través del Botón de Pago, que no necesariamente está registrada en el Sitio.
          1.19. Usuario Emisor: es el Cliente que utiliza el Servicio ULTRA PEI para realizar envíos de dinero.
          1.20	Usuario Receptor: es quien recibe un envío de dinero a través del Servicio ULTRA PEI o quien recibe una orden de extracción de efectivo a través del Servicio de Extracción de Efectivo Sin Tarjeta de Débito.
          1.21	Vendedor: es el Cliente que utiliza el Sistema ULTRA para cobrar pagos por los productos y/o servicios que comercializa. El Vendedor debe ser titular de una Cuenta Bancaria.
          1.22	Vendedor QR: Es el Vendedor que, pudiendo no estar registrado como Cliente y utiliza como sistema de cobro la modalidad de Cobro QR.
          1.23	Empresas de Servicios: se refiere a aquellas empresas recaudadoras de impuestos o servicios adheridas al Sistema Rapipago las cuales incorporan al sistema de pagos las facturas u obligaciones que sus clientes le deban abonar.
          1.24	Rapipago: Gire SA. Es la sociedad que administra el Sistema Rapipago.
          1.25	Sistema Rapipago: es la plataforma que permite al Usuario de Billetera Virtual ULTRA efectuar pagos de servicios e impuestos de aquellas Empresas de Servicios adheridas al Sistema Rapipago con cualquier medio de pago habilitado por Gire e ULTRA;
          1.26	Sitio de Rapipago: es el sitio de internet www.rapipago.com de titularidad de Gire S.A.

          3.	ADHESIÓN AL SISTEMA ULTRA
          3.1.	Para utilizar el Sistema ULTRA en el rol de Vendedor o de Comprador, es requisito que el Cliente descargue la aplicación y proceda al registro, previo proceso de verificación de identidad por parte del RENAPER, ingresados diversos datos personales para verificación de identidad.
          •	Datos de acceso: corresponde a los datos necesarios para acceder a su Cuenta ULTRA (e-mail y Clave Privada).
          •	Datos personales y domicilio: corresponde a sus datos filiatorios y fiscales.
          •	Aceptación de Términos y Condiciones: para adherirse al Sistema ULTRA, el Cliente debe leer y aceptar todas las condiciones establecidas en los presentes Términos y Condiciones. Estos Términos y Condiciones enumeran los derechos y obligaciones tanto del Cliente como de ULTRA en relación a la utilización del Sistema ULTRA.
          La utilización del Sistema ULTRA únicamente como Usuario de Botón de Pago o como Usuario Receptor no requiere la registración de dicho usuario ni la adhesión del mismo al Sistema ULTRA.
          3.2.	El Cliente declara y asume:
          (i)	En carácter de declaración jurada, que los datos ingresados en el formulario de registro correspondiente (en adelante los “Datos de Registración”) son verdaderos, exactos y completos.

          (ii)	Que la Clave Privada para acceder a la Cuenta ULTRA es secreta e intransferible y por lo tanto asume las consecuencias y/o riesgos de su divulgación a terceros, liberando a ULTRA de toda responsabilidad que de ello se derive. Queda establecido que el uso de la Clave Privada y su usuario de acceso (e-mail) será siempre imputable al Cliente, sin perjuicio de que el Cliente ofrezca prueba de que estos no fueron utilizados por él. ULTRA no responderá por uso indebido alguno de la Clave Privada, siendo el Cliente el único responsable de su utilización. En el caso de que un Cliente considere que su Clave Privada puede haber sido conocida por un tercero, deberá cambiarla inmediatamente, ingresando a la aplicación y siguiendo las instrucciones allí publicadas.
          (iii)	Que actualizará los Datos de Registración cuando los mismos hubieran sufrido modificaciones.

          4.	APERTURA DE CUENTA ULTRA Y VINCULACIÓN AL TIPO DE CUENTA.
          El Cliente deberá para adherirse al Sistema ULTRA…</pre>
        </div>
      </ion-col>
      </ion-col>
      <ion-button expand="full" shape="round">Crear Cuenta</ion-button>
      <ion-grid>
        <ion-col>
          <ion-button expand="full" shape="round" fill="clear">Ya tengo cuenta</ion-button>
          <ion-button [routerLink]="['/home']" expand="full" shape="round" fill="clear">Inicio</ion-button>
        </ion-col>
      </ion-grid>
    </ion-grid>
  </div>

</ion-content>
