<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="header-img" [src]="getHeaderImg()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper [slidesPerView]="1">
    <ng-template swiperSlide *ngFor="let img of slideImgs">
      <img [src]="img" alt="imagen">
    </ng-template>
  </swiper>

  <ion-list>
    <ion-item>
      <ion-title >Bienvenido</ion-title>
    </ion-item>
    <ion-button disabled="true" expand="full" shape="round">Tengo Cuenta</ion-button>
    <ion-button [routerLink]="['/create-account']" expand="full" shape="round">Crear Cuenta</ion-button>
  </ion-list>

</ion-content>
